.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FormGroups{
  text-align: left;
}
.DetailsCSS{
  margin: auto;
  width: 30%;
  border: 3px solid #070706;
  padding: 10px;
}
.FormCSS{
  margin: auto;
  width: 60%;
  border: 3px solid #070706;
  padding: 10px;
  /* align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 40%; */
}
.tableCSS{
  margin: auto;
  width: 60%;
  
  padding: 10px;
}